// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.headerBar {
  padding: 1% 0;
  margin-bottom: 1%;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

// =========  Full screen video code, doesn't autoplay =========
// .fullscreen-bg {
//   position: fixed;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   overflow: hidden;
//   z-index: -100;
// }
//
// .fullscreen-bg__video {
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 100vh;
// }
