// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.headerBar {
  padding: 1% 0;
  margin-bottom: 1%;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
