<h1>Admin Page</h1>

{{#each model as |project|}}
  {{project-tile project=project}}
  {{update-project project=project updateProject="updateProject"}}
{{/each}}

<hr>
{{new-project project=model saveProject="saveProject"}}

{{log model}}
