<div class="mainHeader">
  <div class="topLeft"></div>
  <div class="topRight">
    <h1>Brooke Hurford</h1>
    <h1>Front End Developer</h1>
  </div>
  <div class="bottomLeft">
    {{#link-to 'portfolio'}}<h1 class="navWhite">Portfolio</h1>{{/link-to}}
  </div>
  <div class="bottomRight">
    <h1 class="navBlack">Contact</h1>
  </div>
</div>

<!-- <div class="homeHeader">
  <img id="logo" src="img/logo.png" alt="Logo">
  <div class="headerContent">
    <h1>Brooke Hurford</h1>
    <h1>Front End Developer</h1>
  </div>
</div> -->
<!-- <div class="portfolioList">
  {{#each model as |project|}}
  {{#link-to 'project' project.id}}<div class="indexTile">
    {{project-tile project=project}}
  </div>{{/link-to}}
  {{/each}}
</div> -->
