
{{#each model as |project|}}
{{#link-to 'project' project.id}}<div class="indexTile">
  {{project-tile project=project}}
</div>{{/link-to}}
{{/each}}



<!-- =========  Full screen video code, doesn't autoplay ========= -->

<!-- <div class="fullscreen-bg">
<video loop muted autoplay poster="img/background-video.mp4" class="fullscreen-bg__video">
<source src="img/background-video.mp4" type="video/mp4">
</video>
</div> -->
