<h1>Portfolio Page</h1>
<div class="portfolioList">
  {{#each model as |project|}}
  {{#link-to 'project' project.id}}<div class="indexTile">
    {{project-tile project=project}}
  </div>{{/link-to}}
  {{/each}}
</div>


{{log model}}
