<div class="portfolioWrapper">
  <nav>
    <img class="logo" src="img/logo-white.png">
  </nav>
    <div class="portfolioList">
      {{#each model as |project|}}
      {{#link-to 'project' project.id}}<div class="projectTile">
        {{project-tile project=project}}
      </div>{{/link-to}}
      {{/each}}
    </div>
</div>
